<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<description></description>
		<display-name>SearchController</display-name>
		<servlet-name>SearchController</servlet-name>
		<servlet-class>aiss.controller.SearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchController</servlet-name>
		<url-pattern>/lyrics</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>video</display-name>
		<servlet-name>VideoController</servlet-name>
		<servlet-class>aiss.controller.VideoController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VideoController</servlet-name>
		<url-pattern>/video</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>playlist</display-name>
		<servlet-name>PlaylistController</servlet-name>
		<servlet-class>aiss.controller.PlaylistController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlaylistController</servlet-name>
		<url-pattern>/playlist</url-pattern>
	</servlet-mapping>

	<!-- Welcome page -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Error page -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.jsp</location>
	</error-page>

	<!-- WEBAPP SERVLETS -->
	<!-- Spotify oAuth2 servlets -->
	<!-- SpotifyAuthController -->
	<servlet>
		<description />
		<servlet-name>SpotifyAuthController</servlet-name>
		<servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Spotify</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpotifyAuthController</servlet-name>
		<url-pattern>/AuthController/Spotify</url-pattern>
	</servlet-mapping>
	<!--SpotifyOAuth2Callback -->
	<servlet>
		<description />
		<servlet-name>SpotifyOAuth2Callback</servlet-name>
		<servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Spotify</param-value>
		</init-param>
		<init-param>
			<param-name>onSuccess</param-name>
			<param-value>redirect:/lyrics</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpotifyOAuth2Callback</servlet-name>
		<url-pattern>/oauth2callback/Spotify</url-pattern>
	</servlet-mapping>
		<!-- Spotify oAuth2 servlets -->
	<!-- YoutubeAuthController -->
	<servlet>
		<description />
		<servlet-name>YoutubeAuthController</servlet-name>
		<servlet-class>aiss.controller.oauth.GenericAuthController</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Youtube</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>YoutubeAuthController</servlet-name>
		<url-pattern>/AuthController/Youtube</url-pattern>
	</servlet-mapping>
	<!--YoutubeOAuth2Callback -->
	<servlet>
		<description />
		<servlet-name>YoutubeOAuth2Callback</servlet-name>
		<servlet-class>aiss.controller.oauth.OAuth2Callback</servlet-class>
		<init-param>
			<param-name>provider</param-name>
			<param-value>Youtube</param-value>
		</init-param>
		<init-param>
			<param-name>onSuccess</param-name>
			<param-value>redirect:/video</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>YoutubeOAuth2Callback</servlet-name>
		<url-pattern>/oauth2callback/Youtube</url-pattern>
	</servlet-mapping>
    <!-- YoutubeCommentThread - create -->
    <servlet>
        <servlet-name>YoutubeCommentThreadNewController</servlet-name>
        <servlet-class>aiss.controller.YoutubeCommentNewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>YoutubeCommentThreadNewController</servlet-name>
        <url-pattern>/youtubeCommentNew</url-pattern>
    </servlet-mapping>
</web-app>